* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
}

:root {
  --bg-primary: #041643;
  --color-primary: #1352f1;
  --color-white: #fff;

  --gray: #4e4e4e;
  --dark-gray: #696969;
  --ligth-gray: #afafaf;
}

body {
  background-color: var(--bg-primary);
  background-image: url(../assets/gradient\ 2-03\ 1.png);
  background-repeat: no-repeat;
  background-size: 50%;
  padding: 91px 123px;
  height: 100vh;
}

.intro {
  margin-top: 100px;
}

.intro > h1 {
  width: 230px;
  margin-bottom: 23px;
}

.intro > p {
  color: var(--ligth-gray);
}

.titulo {
  color: white;
}

form {
  background-color: var(--color-white);
  width: 343.33px;
  padding: 50px 30px;
  border-radius: 10px;
}

form label {
  font-size: 8px;
}

form input {
  width: 100%;
}

.cadastro {
  font-size: 10px;
  color: var(--gray);
}

.cadastro a {
  color: var(--gray);
  font-weight: 600;
}

.login {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 5px;
  padding: 10px 37px;
  font-size: 9px;
  font-weight: bold;
}

footer > p {
  color: var(--color-white);
}
